html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body, html {
    background-color: #fafafa;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #1b1b1b;
    margin: 0;
    padding: 0;
    min-width: 320px
}

header {
    background-image: url(AdobeStock_310168822.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 20%;
    min-height: 125px;
    position: relative;
}

header>h1 {
    border: thick solid #fafafa;
    color: #fafafa;
    font-size: xx-large;
    left: 50%;
    margin: auto;
    padding: 1%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

main, footer {
    display: block;
}

main {
    background-color: #fafafa;
}

nav ul, footer ul {
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: underline;
    color: #1b1b1b;
}

footer {
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

footer {
    border-top: solid #c7c7c7;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    min-width: 1024px;
    overflow: hidden;
    position: relative;
    z-index: 1
}

main, footer {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    padding-left: calc(22px + constant(safe-area-inset-left));
    padding-right: calc(22px + constant(safe-area-inset-right))
}

.LI-profile-badge {
    margin-top: 10px;
    margin-bottom: 10px;
}