body, html {
    height: 100%;
}

html {
    display: block;
}

body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #1b1b1b;
    margin: 0;
    padding: 0;
    min-width: 320px
}

.LI-profile-badge {
    margin-top: 0 10px;
    margin-bottom: 10px;
}

footer {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 22px;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
}

footer {
    font-size: small;
}

.ac-gf-content {
    border-top: thin solid #c7c7c7;
}

footer ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #1b1b1b;
}

a:hover {
    text-decoration: underline;
}

.top-container {
    background-color: #f1f1f1;
    /* padding: 30px; */
    text-align: center;
}

header {
    background-image: url(AdobeStock_310168822.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    height: 100px;
    width: 100%;
    color: #fafafa;
    text-align: center;
}

.content {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 22px;
}